.searchfield {
  display: flex;
  margin: 8px auto;
}

.searchfield__input {
  flex: 4;
  height: 1.8rem;
  border-radius: 9px;
  border: 0;
  outline: none;
  padding: 0.25rem 0.5rem;
}

.searchfield__icon {
  flex: 1;
  height: 1.8rem;
  background: #333;
  padding: 1.04rem;
  color: #fff;
  border-radius: 9px 0 0 9px;
  transform: rotate(180deg);
  font-size: 3rem;
  line-height: 0.1rem;
  margin-left: -5px;
  user-select: none;
  cursor: pointer;
}

@media screen and (max-width: 300px) {
  .searchfield {
    flex-direction: column;
  }
  .searchfield__input,
  .searchfield__icon {
    flex: 1;
  }
  .searchfield__input {
    padding: 14px;
  }
  .searchfield__icon {
    border-radius: 9px;
    margin-top: 14px;
  }
}
